<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Activate Your Account</title>
</head>

<body style="background-color: #ffffff; margin: 0; padding: 0; font-family: Arial, sans-serif; color: black;">
  <div style="max-width: 600px; margin: 40px auto; background-color: #f7ede2; padding: 20px; border-radius: 8px; box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);">
    <div style="text-align: center; padding-bottom: 20px;">
      <table align="center" style="background-color: #83B6C7; width: 175px; height: 175px; border-radius: 50%; margin: 0 auto 20px;">
        <tr>
          <td align="center" valign="middle">
            <img src="https://tamado.app/assets/pet-UTjUnlmj.png" alt="tamado.app Logo" style="width: 65%;">
          </td>
        </tr>
      </table>      
      <h2 style="margin: 0; font-family: Arial, sans-serif;">Activate your Tamado account</h2>
    </div>
    <div style="padding: 20px; text-align: center; border-top: 2px solid #eeeeee;">
      <p><strong>Hi {{ user.username }},</strong></p>
      <p>thank you for signing up with Tamado.app. To complete your registration, please confirm your email address.</p>
      <div style="text-align: center; margin: 20px 0;">
        <a href="https://{{ domain }}/activate/{{ uid }}/{{ token }}/" style="background-color: #FFA976; color: #ffffff; padding: 10px 20px; text-decoration: none; border-radius: 8px; font-size: 16px;">Confirm email address</a>
      </div>
    </div>
    <div style="padding: 20px; text-align: center; border-top: 2px solid #eeeeee;">
      <h3 style="margin-top: 20px; font-family: Arial, sans-serif;">Install Tamado on your mobile device</h3>
      <table cellspacing="0" cellpadding="0" style="text-align: left; width: 100%; margin-top: 20px;">
        <tr>
          <td valign="top" style="padding: 10px;">
            <h4 style="margin-bottom: 0; font-family: Arial, sans-serif;">Android</h4>
            <ol style="padding: 20px; padding-left: 16px; margin-top: 0;">
              <li>Open Chrome</li>
              <li>Visit <a href="https://{{ domain }}" style="color: #FFA976;">Tamado</a></li>
              <li>Tap the menu icon</li>
              <li>Select 'Add to Home screen'</li>
              <li>Follow the instructions</li>
            </ol>
          </td>
          <td valign="top" style="padding: 10px;">
            <h4 style="margin-bottom: 0; font-family: Arial, sans-serif;">iPhone</h4>
            <ol style="padding: 20px; padding-left: 16px; margin-top: 0;">
              <li>Open Safari</li>
              <li>Visit <a href="https://{{ domain }}" style="color: #FFA976;">Tamado</a></li>
              <li>Tap the share icon</li>
              <li>Tap 'Add to Home Screen'</li>
              <li>Follow the instructions</li>
            </ol>
          </td>
        </tr>
      </table>
    </div>
  </div>
</body>

</html>
