/* Side Layout */

.gl-view {
    max-height: 100%;
    height: 100%;
    width: 100%;

    display: grid;
    /*
    grid-template-rows: [header-start] min-content [header-end tama-start] min-content [tama-end content-start] auto;

    */
    grid-template-rows: [header-start] min-content [header-end tama-start] min-content [tama-end content-start] auto [content-end button-row] min-content;
    grid-template-columns: 1fr;
}

.gl-header {
    grid-column: 1 / 2;
    grid-row: header-start / header-end;
    z-index: 3;
}

.gl-tama {
    grid-column: 1 / -1;
    grid-row: header-start / tama-end;
    z-index: 2;
}

/* Use for tama-area overflow (top) */
.gl-content-underflow {
    grid-column: 1 / -1;
    grid-row: tama-start / button-row;
    z-index: 1;
    align-self: end;

    height: 100%;
    max-height: 100%;
    overflow: visible;
}

.gl-content-fit {
    grid-column: 1 / -1;
    grid-row: content-start / button-row;
    align-self: start;
    z-index: 1;

    height: 100%;
    max-height: 100%;
}

.gl-button {
    z-index: 3;
    grid-row: button-row / -1;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    margin-bottom: var(--sgn-mbt);
}

.no-scrollbar {
    scrollbar-width: none;
    scrollbar-gutter: stable both-edges;
    -webkit-overflow-scrolling: touch;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.sticky-button {
    position: sticky;
    width: 100%;

    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;

    background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0) -30%,
            rgba(255, 255, 255, 0.9) 50%
    );
}

.main-gl-view {
    max-height: 100%;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: [header-start] min-content [header-end content-start] auto [content-end button-row] min-content;
    grid-template-areas: "header" "content" "nav";
}

.main-gl-header {
    grid-area: header;
}

.main-gl-content {
    grid-area: content;
}

.main-gl-nav {
    grid-area: nav;
}